arrow==0.14.2
Click==7.0
Flask==1.0.3
Flask-RQ2==18.3
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
python-dateutil==2.8.0
redis==3.2.1
rq==1.0
rq-dashboard==0.5.1
six==1.12.0
Werkzeug==0.15.4
